<app-header [headingOne]="pageHeadingOne"
  [headingTwo]="pageHeadingTwo"></app-header>
<app-stripe-divider></app-stripe-divider>
<article>
  <h3>Background</h3>
  <p>My second role which more more architecurally focused with more of an emphasis on communicating with clients.</p>

  <h3>The projects I worked on</h3>
  <p>Some of the notable things I worked on were:</p>
  <ul>
    <li>Noble Caledonia</li>
    <li>easyJet Holidays</li>
    <li>Cruising Excursions</li>
  </ul>

  <h3>What I worked with and the skills I developed</h3>
  <p>An extension of what I worked on at <a [routerLink]="['/', 'work-experience', 'cwt-digital']">CWT Digital</a>, here are my takeaways:</p>
  <ul class="skills">
    <li><app-badge>Front-End Architecture</app-badge></li>
    <li><app-badge>Customer Support Skills</app-badge></li>
    <li><app-badge>AWS Infrastructure Maintenance</app-badge></li>
  </ul>

  <h3>Crowning achievements</h3>
  <ul>
    <li>Collaborating with overseas team to coordinate allocation of work.</li>
    <li>More direct customer support, talking with clients to resolve critical issues.</li>
    <li>24/7 out of hours support, being able to diagnose and repair issues remotely.</li>
  </ul>
</article>
