:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.icon {
  align-items: center;
  display: flex;
  flex-direction: column;

  app-icon {
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.badges {
  text-align: center;

  app-badge {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
