@import "bulma-variables";
@import "bulma/sass/utilities/_all";

:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include desktop {
    margin-bottom: 3rem;
  }
}

.icon {
  align-items: center;
  display: flex;
  flex-direction: column;

  app-icon {
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}

.badges {
  text-align: center;

  app-badge {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
