<app-header headingOne="Not Found"
  headingTwo="Sorry, what you were looking for doesn't seem to exist..."></app-header>
<app-stripe-divider></app-stripe-divider>
<article>
  <h3>I do have a few suggestions to try to help</h3>
  <p>If you got here from an outside link, please get in touch to let me know from where!</p>
  <p>If you're just playing around, and feel like you've found a critical flaw... please get in touch!</p>
  <p>If you're just a curious developer... good on you!</p>
</article>
