.header-container {
  overflow: hidden;
  position: relative;

  .background {
    background: var(--headerBackground);
    height: 50vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
}
