header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 256px;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  text-align: center;

  h1 {
    color: #ffffff;
    font-size: 2rem;
  }

  h2 {
    color: #ffffff;
    font-size: 1.5rem;
  }

  .nowrap {
    white-space: nowrap;
  }
}
