@import "bulma-variables";
@import "bulma/sass/utilities/_all";

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  text-align: center;

  @include tablet {
    height: 28.75rem;
  }

  h1 {
    color: #ffffff;
  }

  h2 {
    color: #ffffff;
  }

  .nowrap {
    white-space: nowrap;
  }
}
