@import "bulma-variables";
@import "bulma/sass/utilities/_all";

header {
  align-items: center;
  background: var(--headerBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8rem;
  position: relative;
  text-align: center;

  @include tablet {
    padding-bottom: 12rem;
    padding-top: 10rem;
  }

  @include widescreen {
    padding-bottom: 16em;
  }

  h1 {
    color: #ffffff;
  }

  h2 {
    color: #ffffff;
  }
}
