@import "bulma-variables";
@import "bulma/sass/utilities/_all";

header {
  align-items: center;
  background: var(--headerBackground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8rem;
  position: relative;
  text-align: center;

  @include tablet {
    padding-bottom: 12rem;
    padding-top: 10rem;
  }

  @include widescreen {
    padding-bottom: 16em;
  }

  h1, h2 {
    color: #ffffff;
  }
}

:host-context(.cwt-digital) {
  header {
    background: var(--cwtBackground);

    h1, h2 {
      color: #3A3A3A;
    }
  }
}

:host-context(.no-gradients.cwt-digital) {
  header {
    h1, h2 {
      color: #000000;
    }
  }
}

:host-context(.zen3-uk) {
  header {
    background: var(--zen3Background);
  }
}

:host-context(.holidaytaxis) {
  header {
    background: var(--htxBackground);
  }
}

:host-context(.into-university-partnerships) {
  header {
    background: var(--iupBackground);

    h1, h2 {
      color: #3A3A3A;
    }
  }
}

:host-context(.no-gradients.into-university-partnerships) {
  header {
    h1, h2 {
      color: #000000;
    }
  }
}
