<app-header [headingOne]="pageHeadingOne"
  [headingTwo]="pageHeadingTwo"></app-header>
<app-stripe-divider></app-stripe-divider>
<article>
  <h3>Background</h3>
  <p>This being my first job, it was a brand new experience for me. Thankfully I got to work with some awesome people in a great city!
    I got to experience 2 and a half years of challenges, experiences and adventures within the travel industry for which I am truly grateful.
  </p>

  <h3>The projects I worked on</h3>
  <p>Some of the notable things I worked on were:</p>
  <ul>
    <li>easyJet Holidays</li>
    <li>England Rugby Travel</li>
    <li>Cruising Excursions</li>
  </ul>

  <h3>What I worked with and the skills I developed</h3>
  <p>Being my first commercial job, I developed several skills very rapidly. This job is where I discovered my passion for the front-end.</p>
  <p>This included (in no particular order):</p>
  <ul class="skills">
    <li><app-badge>PHP</app-badge></li>
    <li><app-badge>Bower</app-badge></li>
    <li><app-badge>JavaScript</app-badge></li>
    <li><app-badge>LESS</app-badge></li>
    <li><app-badge>SCSS</app-badge></li>
    <li><app-badge>CSS</app-badge></li>
    <li><app-badge>Foundation 6</app-badge></li>
    <li><app-badge>PDF Creation</app-badge></li>
    <li><app-badge>Drupal 8</app-badge></li>
    <li><app-badge>jQuery</app-badge></li>
    <li><app-badge>jQuery UI</app-badge></li>
  </ul>

  <h3>Crowning achievements</h3>
  <p>From easyJet Holidays:</p>
  <ul>
    <li>Optimisation of JavaScript using Gulp as a build tool.</li>
    <li>Improving the LESS build, by performing it on deployment rather than page-load.</li>
    <li>Converting TCPDF templates into HTML5 templates to create PDFs using wkhtmltopdf.</li>
    <li>Implementation of Bower to manage front-end dependencies such as jQuery and jQuery UI.</li>
    <li>Creation of deployment script to deploy site to multiple, load balanced, servers.</li>
  </ul>

  <p>From England Rugby Travel:</p>
  <ul>
    <li>Optimisation of JavaScript using Gulp as a build tool.</li>
    <li>Improving the SCSS build, by performing it on deployment rather than page-load.</li>
    <li>Implementation of Foundation 6 for use in promotional PDFs created using wkhtmltopdf.</li>
    <li>Implementation of Bower to manage front-end dependencies such as Foundation and jQuery.</li>
  </ul>

  <p>From Cruising Excursions:</p>
  <ul>
    <li>The opportunity to architect a fully responsive website.</li>
    <li>Creation and implementation of Gulp tasks to resize and optimise images for various devices.</li>
    <li>Usage of AngularJS to create a dynamic website using data retrieved from a Drupal platform.</li>
    <li>Creation and implementation of Gulp tasks to generate a sprite-sheet from separate source images.</li>
    <li>Setup of NodeJS to manage build dependencies.</li>
    <li>Creation of various custom components such as an itinerary slider.</li>
  </ul>

</article>
