@import "bulma-variables";
@import "bulma/sass/utilities/_all";

nav {
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  a {
    color: #ffffff;
    margin-right: .5rem;

    @include tablet {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }

  &.is-scrolling {
    background: var(--navigationBackground);
    border-bottom: 1px solid rgba(#3A3A3A, 0.5);
  }
}

:host-context(.cwt-digital) {
  a {
    color: #3A3A3A;
  }

  nav.is-scrolling {
    background: var(--cwtBackground);
  }
}

:host-context(.no-gradients.cwt-digital) {
  a {
    color: #000000;
  }
}

:host-context(.zen3-uk) {
  nav.is-scrolling {
    background: var(--zen3Background);
  }
}

:host-context(.holidaytaxis) {
  nav.is-scrolling {
    background: var(--htxBackground);
  }
}

:host-context(.into-university-partnerships) {
  a {
    color: #3A3A3A;
  }

  nav.is-scrolling {
    background: var(--iupBackground);
  }
}

:host-context(.no-gradients.into-university-partnerships) {
  a {
    color: #000000;
  }
}
