<app-header headingOne="404 - Company Not Found"
  headingTwo="(That's to say, I haven't worked there yet!)"></app-header>
<app-stripe-divider></app-stripe-divider>
<article>
  <h3><span class="capitalize">{{ routeCompany }}</span> isn't currently a part of my portfolio...</h3>
  <p>While I'm not currently looking for new opportunities, if you're looking to recruit me for my skills perhaps you should get in touch?</p>
  <p>Who knows... I might be tempted by the right kind of offer!</p>
</article>
