<app-header [headingOne]="pageHeadingOne"
  [headingTwo]="pageHeadingTwo"></app-header>
<app-stripe-divider></app-stripe-divider>
<article>
  <h3>Background</h3>
  <p>My current place of work, and what a place! It was a big jump to go from the travel industry to the education sector but I'm glad I made it.</p>
  <p>INTO University Partnerships encourages personal growth and the digital team in particular, of which I am a part of, is particularly adept at this.
    I feel it naturally sits well with my personal self improvement goals and provides a really fantastic environment to work in!
  </p>
  <p>I should also note that this was a huge jump in stacks from primarily PHP to C# .NET Core. A lot of differences, but a lot of similarities too.</p>

  <h3>The projects I work on</h3>
  <p>I primarily focus on a single, large, project which is the Partner Portal application. I occasionally touch upon other things, but these are mostly internal.</p>

  <h3>What I work with and the skills I develop regularly</h3>
  <p>INTO University Partnerships really gives me the opportunity to flex my front-end work. Other than that, here's what I'm doing:</p>
  <ul class="skills">
    <li><app-badge>Angular</app-badge></li>
    <li><app-badge>C# .NET Core Web APIs</app-badge></li>
    <li><app-badge>TypeScript</app-badge></li>
    <li><app-badge>Mentoring</app-badge></li>
    <li><app-badge>Pair Programming</app-badge></li>
    <li><app-badge>Azure</app-badge></li>
    <li><app-badge>Azure DevOps</app-badge></li>
  </ul>

  <h3>Crowning achievements</h3>
  <ul>
    <li>Optimisations to build pipelines to speed up development.</li>
    <li>Working closely with junior developers to increase their pool of knowledge.</li>
    <li>Working closely with the wider team to ensure the delivery of a great quality product.</li>
    <li>Developing a simple translation pipeline to enable our web apps to be localised in a streamlined manner.</li>
  </ul>
</article>
