@import "bulma-variables";
@import "bulma/sass/utilities/_all";

:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  margin-top: -4rem;

  @include tablet {
    margin-bottom: 6rem;
  }

  @include desktop {
    margin-bottom: 8rem;
  }

  @include widescreen {
    margin-bottom: 8rem;
    margin-top: -8rem;
  }
}

h3 {
  background: #ffffff;
  margin-left: -2.75vw;
  padding: 1rem;
  text-align: center;
  transform: rotate(-5deg);
  width: 106vw;

  @include tablet {
    padding: 2rem;
  }
}

.job {
  align-items: center;
  display: flex;
  font-size: 2rem;
  height: 192px;
  justify-content: center;
  margin-left: -2.75vw;
  padding-left: 3.75vw;
  padding-right: 1rem;
  text-align: center;
  transform: rotate(-5deg);
  width: 106vw;

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }

  &.cwt {
    background: var(--cwtBackground);
  }
  &.zen3 {
    background: var(--zen3Background);
  }
  &.htx {
    background: var(--htxBackground);
  }
  &.iup {
    background: var(--iupBackground);
  }

  &.cwt, &.iup {
    color: #3A3A3A;
  }

  &.zen3, &.htx {
    color: #ffffff;
  }
}

:host-context(.no-gradients) {
  .job {
    &.cwt, &.iup {
      color: #000000;
    }
  }
}
