@import "bulma-variables";
@import "bulma/sass/utilities/_all";

:host {
  background: #ffffff;
  display: flex;
  height: 10rem;
  margin-top: -5rem;
  position: relative;
  transform: rotate(-5deg);
  width: 106vw;
  z-index: 0;

  @include widescreen {
    height: 16rem;
    margin-bottom: -3rem;
    margin-top: -8rem;
  }
}
