:host {
  --iconSize: 5rem;
}

div {
  border-radius: var(--iconSize);
  height: var(--iconSize);
  width: var(--iconSize);

  &.proficiency {
    background: var(--proficiencyBackground);
  }

  &.current-tools {
    background: var(--currentToolsBackground);
  }

  &.past-tools {
    background: var(--pastToolsBackground);
  }
}
