@import "bulma-variables";
@import "bulma/sass/utilities/_all";

:host {
  --iconSize: 5rem;

  @include tablet {
    --iconSize: 7.8125rem;
  }

  @include widescreen {
    --iconSize: 10rem;
  }
}

div {
  align-content: center;
  border-radius: var(--iconSize);
  display: flex;
  height: var(--iconSize);
  justify-content: center;
  width: var(--iconSize);

  &.proficiency {
    background: var(--proficiencyBackground);
  }

  &.current-tools {
    background: var(--currentToolsBackground);
  }

  &.past-tools {
    background: var(--pastToolsBackground);
  }

  img {
    width: 50%;
  }
}
