@import "bulma-variables";
@import "bulma/sass/utilities/_all";

:host {
  --iconSize: 5rem;

  @include tablet {
    --iconSize: 7.8125rem;
  }
}

div {
  border-radius: var(--iconSize);
  height: var(--iconSize);
  width: var(--iconSize);

  &.proficiency {
    background: var(--proficiencyBackground);
  }

  &.current-tools {
    background: var(--currentToolsBackground);
  }

  &.past-tools {
    background: var(--pastToolsBackground);
  }
}
