/* You can add global styles to this file, and also import other style files */
@import "bulma-variables";
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/grid/columns.sass";

:root {
  /* Header */
  --headerBackground: linear-gradient(134deg, #3023AE, #C86DD7);
  /* Jobs */
  --cwtBackground: linear-gradient(-34deg, #EF4C25, #FFBCAB);
  --zen3Background: linear-gradient(-34deg, #2B5BA7, #82BCEA);
  --htxBackground: linear-gradient(-34deg, #003087, #0961A6);
  --iupBackground: linear-gradient(-34deg, #ED1C24, #F39C9F);
  /* Proficiencies */
  --proficiencyBackground: linear-gradient(134deg, #3C6AA1, #4A90E2);
  /* Current Tools */
  --currentToolsBackground: linear-gradient(134deg, #3023AE, #C86DD7);
  /* Past Tools */
  --pastToolsBackground: linear-gradient(134deg, #633CA1, #4A74E2);
  /* Footer */
  --footerBackground: linear-gradient(134deg, #633CA1, #4A74E2);
}

body.no-gradients {
  /* Header */
  --headerBackground: #3023AE;
  /* Jobs */
  --cwtBackground: #EF4C25;
  --zen3Background: #2B5BA7;
  --htxBackground: #003087;
  --iupBackground: #ED1C24;
  /* Proficiencies */
  --proficiencyBackground: #3C6AA1;
  /* Current Tools */
  --currentToolsBackground: #3023AE;
  /* Past Tools */
  --pastToolsBackground: #633CA1;
  /* Footer */
  --footerBackground: #633CA1;
}
